.Cart {
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.Cart .alert p {
    font-size: 18px;
}

.Cart .alert {
    background-color: #3a4148;
    color: white;
    border: none;
}

.Cart .alert-heading {
    font-weight: 600;
    font-size: 25px;
}